header {
  text-align: center;
  max-width: 28rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  ul {
    text-align: center;
    font-size: 0.95rem;
    li {
      margin-right: 0.5em;
      display: inline-block;
      -moz-hyphens: none;
      -webkit-hyphens: none;
      hyphens: none;
    }
  }
  a {
    text-decoration: none;
    padding: 0.1em 0.2em;
    font-weight: bold;
    transition: 0.3s background ease;
    -moz-transition: 0.3s background ease;
    -webkit-transition: 0.3s background ease;
  }
}
