html, body { height: 99.6%; }
body {
  background: $background;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $text;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}

blockquote, q {
  quotes: none;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  color: #716D6D;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

::-moz-selection {
  color:white;
  background: $text;
}

::selection {
  color: white;
  background: $text;
}

table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td, th {
  padding: $table-cell__padding;
  line-height: 1.5em;
}

.centered {
  max-width: 40rem;
  width: 90%;
  margin: 0 auto;
}
/* Typography */

em {
  font-style:italic;
}

p {
  margin-bottom:1em;
}

.smcp {
  font-feature-settings: "smcp" on;
}

h1 {
  -webkit-font-smoothing: antialiased;
  color: $lightertext;
  font-size: 1.5rem;
  line-height: 1em;
  margin-bottom: 0rem;
}

strong, b {
  font-weight: bold;
}

h2, h3 {
  font-size: 1em;
  font-weight: bold;
}

.m, .mono, pre, code {
  font-family: Menlo, Consolas, monospace;
  overflow: auto;
}

pre, code {
  font-size: 0.90rem;
  line-height: 1.5rem;
  font-feature-settings: "liga" off;
}

code {
  background-color: #EEEEEE;
}

hr {
  margin-top: 3em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 2px $grey solid;
  max-width: 90%;
  width: 20em;
}

time {
  font-size: 0.95rem;
  font-weight: 600;
  color: $lightesttext;
}

ul, ol {
  margin-bottom:1.5em;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: initial;
  list-style-position:inside;
}

li {
  line-height:1.5em;
}

a {
  color: inherit;
  text-decoration:none;
  padding:0em 0.1em;
  margin:0em -0.1em;
  font-weight: 600;
  &:hover {
    background-color: $grey;
  }
}

article a {
  text-decoration:none;
  background: $post-link__color;
  border-radius: 5px;
  font-weight: normal;
  transition: 0.3s background ease;
  -moz-transition: 0.3s background ease;
  -webkit-transition: 0.3s background ease;
}

h1 > a {
  background: inherit;
}

img {
  width: 100%;
}

a>img {
  transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -webkit-transition: border-color 0.3s ease-in;
  margin: -0.5em;
  border: 0.5em solid white;
}

a>img:hover {
  margin: -0.5em;
  border: 0.5em solid $grey;
}

.thumb {border:none;}
a.thumb:hover {border:none}
a.thumb>img {
  margin-top:-12px;
  margin-bottom:12px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

small {
  font-size: 0.95rem;
  line-height: 1.5em;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto ($footer-height * -1);
  overflow: hidden;
}

#wrap > *:last-child {
  padding-bottom: $footer-height;
}

.post-time {
  float: right;
}
