/* Blog post list */

article {
  h1.article-title {
    margin-bottom: 0rem;
  }
  h1 a {
    text-decoration: none;
    font-weight: 600;
  }
  ul, ol {
    padding: 0 0 0 20px;
  }
  .navigation-container {
    display: flex;
    justify-content: space-between;
    .navigation-link {
      margin: 0 10px;
    }
  }
  ul  ul {
    margin-bottom: 0;
  }
  .post-content {
    margin-top: 1rem;
  }
  a.img-source {
    font-size: 0.75em;
    margin-bottom: 1em;
  }
  th {
    text-align: left;
  }
}
