---
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #111;
$background-color: #fdfdfd;
$text:             #444;
$lightertext:      #222;
$lighttext:        #666;
$lightesttext:     #999;
$background:       white;
$grey:             #f6f6f5;
$lightgrey:        #fcfcfc;
$post-link__color:  #F9EDED;

// Code
$code-snippet__background: #EEEEEE;
$code-snippet__border: #CCC;

// Tables
$table-cell__padding: 8px;

// Width of the content area
$content-width:    800px;

// Footer
$footer-height:    4em;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "layout",
  "header",
  "index",
  "post",
  "footer",
  "syntax-highlighting",
  "about"
;
